* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url("https://tse2.mm.bing.net/th/id/OIP.3ojUeoHbk7V2O41mTATJFwHaEK?rs=1&pid=ImgDetMain&o=7&rm=3");
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 100%;
    height: 650px;
    align-content: center;
    justify-items: center;
}


.box {
    height: 160px;
    width: 55%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 7px solid grey;
    border-radius: 18px;
    color: white;

}

.dot {
    height: 75px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.time {
    height: 75px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: red;
}

.day-condition {
    height: 75px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading h3 {
    font-size: 105px;
    margin-bottom: 80px;
    color: rgba(255, 255, 255, 0.873);
}
 @media only screen and (max-width: 770px) { 
  .box {
    height: 140px;
    width: 70%;
}
.heading h3 {
    font-size: 85px;
}
 }
 @media only screen and (max-width: 430px) { 
  .box {
    height: 110px;
    width: 90%;
}
.heading h3 {
    font-size: 60px;
}
 }

   @media only screen and (max-width: 380px) { 
.heading h3 {
    font-size: 50px;
    margin-bottom:45px ;
}
.time,.dot{
    font-size: 35px;
}
#time{
    font-size: 15px;
}
 }
  @media only screen and (max-width: 320px) { 
  .box {
    height: 90px;
    width: 90%;

}
.heading h3 {
    font-size: 47px;
    margin-bottom:45px ;
}
.time,.dot{
    font-size: 30px;
}
#time{
    font-size: 12px;
}
 }