* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 20px 0;
}

.card {
    height: auto;
    max-height: fit-content;
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
}

.heading {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}

.input-box {
    display: flex;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.input-box button {
    border: none;
    padding: 16px 50px;
    background-color: #ff5945;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 40px;
}

ul li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 15px;
    margin-bottom: 17px;
    border-radius: 6px;
}

.icons {
    cursor: pointer;
    gap: 5px;
}
.clearbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clearbox button{
    color:white;
    background-color: #153677;
    padding: 15px 45px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius:30px ;
}

@media only screen and (max-width:430px) {
    .card {
        width: 380px;
    }
}

@media only screen and (max-width:380px) {
    .card {
        width: 300px;
    }

    .input-box {
        padding-left: 10px;
    }

    .input-box button {
        padding: 10px 21px;
    }
}