
*{
 padding:0px;
 margin: 0px;
 font-family:sans-serif;

}
.product{
   align-content: center;
   top: 50%;
   left: 40%;
   transform: translate(-50%,-50%);
   position: absolute;
   height: 700px;
   width: 800px;
   display: flex;
   flex-wrap:nowrap;
}
  

.small-img img{
    height:92px;
    width: 88px;
    opacity: 0.8;
}
.small-img img:hover{
    opacity: 1;
    cursor: pointer;
}
#full{
    height: 500px;
}

.content-box{
margin-left: 13%;
margin-top: 15%;
}
.content-box h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.rating-product i{
color: rgb(255, 123,0);
cursor: pointer;
}
.price{
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0px;
}
.size{
    display: flex;
    margin-bottom: 20px;
}
.size p{
    font-size: 22px;
    font-weight: 500;
}
.size span{
    border:  1px solid#ff5e00;
    color: #000;
    padding: 8px 30px;
    margin: 0px 10px;
    cursor: pointer;
}
.size span:hover {
    background-color: #ff5e00;
    font-weight: 700;
}
.quantity{
    display: flex;
    margin-bottom: 50px;
}
.quantity p{
    font-size: 22px;
    font-weight: 500;
}

.quantity input{
   margin-left: 10px;
   padding-left: 6px;
   border:  1px solid grey;
   outline: none;
}
.btn-sec input{
 font-size: 18px;
 padding: 8px 25px;
 border: none;
 outline: none;
 border-radius: 6px;
 cursor: pointer;
 color: white;
}
.btn-1{
    background-color: #ff5e00;
    margin-right: 12px;
}
.btn-2{
    background-color: #00aeff;
}
.btn-1:hover{
    background-color:#ff3e00 ;
}
.btn-2:hover{
    background-color: #0066ff;
}



@media only screen and (max-width: 770px) {

    .img-container{
        margin-left: 12%;
        margin-top: 10%;
    }
  .content-box{
    margin-left: 25px;
    margin-top: 20%;
  }  

.size{ 
    margin-bottom: 30px;
}

.size span{
    padding: 6px 18px;
    margin: 0px 5px;
}
.size span:hover {
    background-color: #ff5e00;
    font-weight: 700;
}
.quantity{
    display: flex;
    margin-bottom: 50px;
}
}
@media only screen and (max-width: 430px) {
    

    .product{
   flex-wrap: wrap;     
   height: 600px;
   width: 100%;
    }

    #full{
        height: 530px;
    }
    .small-img img{
        width: 94px;
    }
        .img-container{
        margin-left: 13%;
        margin-top: 50%;
    
    }
  .content-box{
    margin-left: 20%;
    margin-top: 10%;
  }  

.size{ 
    margin-bottom: 30px;
}

.size span{
    padding: 6px 18px;
    margin: 0px 5px;
}
.size span:hover {
    background-color: #ff5e00;
    font-weight: 700;
}
.quantity{
    display: flex;
    margin-bottom: 50px;
}
.btn-sec{
    margin-bottom: 15px;
}
}