* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #262a2f;
    overflow: hidden;
}

h1 {
    color: aliceblue;
    font-size: 50px;
    position: absolute;
    top: 12%;
    left: 35%;
   
}
span{
color: #494eea;
    font-size: 62px;
 
}

.container {
    width: 400px;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    padding: 25px 35px;
    border-radius: 10px;
}

p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}

input {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 0px 0px 20px;
    border: 1px solid#494eea;
    outline: none;
    border-radius: 6px;

}

button {
    width: 100%;
    height: 50px;
    background-color: #494eea;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 20px 0px;
    font-weight: 500;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    display: block;
}

#imgBox {
    width: 200px;
    border-radius: 5px;

}

#qrImage {
    width: 100%;
    margin-left: 50px;
}



@media only screen and (max-width:768px) {
h1 {
    top: 6%;
    left: 25%;
}
}

@media only screen and (max-width:430px) {
    .container {
        width: 370px;
    }
    h1 {
    left: 12%;
}
span{
    font-size: 55px;
}
.container {
    left: 50%;
}
}

@media only screen and (max-width:380px) {
    .container {
        width: 330px;
          left: 50%;
    }
        h1 {
    left: 9%;
    font-size: 40px;
}
#qrImage{
    margin-left: 25px;
}
span{
    font-size: 50px;
}
}

@media only screen and (max-width:325px) {
    .container {
        width: 300px;
        left: 50%;
    }
    #qrImage{
    margin-left: 10px;
}
            h1 {
    left: 8%;
    font-size: 30px;
}
    span{
    font-size: 40px;
}
}