* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar-brand {
    margin-left: 8%;
}

.container-fluid {
    width: 100%;
    background-color: #f7f8fc;
    font-size: 18px;
    font-family: montserrat, "montserrat Fallback";
    position: fixed;
    margin-top: 32px;
}

.navbar-collapse {
    margin-left: 25%;
}

.nav-item {
    margin-left: 25px;
}

.nav-item a {
    color: rgb(123 129 138);
}

.navbar-2 {
    visibility: hidden;
}

nav button {
    margin-left: 20px;
    border-radius: 60px;
    padding: 6px 25px;
    color: white;
    background-color: rgb(11 115 183);
    border: none;
}

.registration-box {
    height: 248px;
    width: 100%;
    background: linear-gradient(to right, rgb(11 115 183), rgba(109, 168, 0, 0.71));
    color: #f7f8fc;
    font-size: 18px;
    margin-top: 34px;
}

.enroll {
    font-size: 14px;
}

.registration-box h2 {
    font-size: 48px;
    margin-bottom: 25px;
}

.registration-box .content {
    margin-left: 17%;
    padding-top: 3%;
}

form {
    height: 1300px;
    width: 100%;
    background-color: #f7f8fc;
}

.personal-information {
    height: 610px;
    width: 100%;
}

.student-identity {
    display: flex;
}

.box-1 {
    margin-left: 13%;
    margin-right: 5%;
}

.heading {
    margin-left: 13%;
    font-size: 24px;
    font-weight: bold;
    padding-top: 70px;
    margin-bottom: 25px;
}

.heading i {
    color: blue;
    font-size: 20px;
}

.heading span {
    margin-left: 10px;
}

.upload {
    font-size: 15px;
    height: 170px;
    width: 1105px;
    border: 2px dashed rgb(209 213 219);
    border-radius: 12px;

}

.upload input {
    padding: 7% 40%;
    font-size: 20px;
}

sup {
    color: orange;
    font-weight: 900;
}

.box-3 {
    margin-left: 13%;
}

.upload-btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #0b73b7;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40%;
    margin-top: 5%;
}

.box-3 p input {
    height: 55px;
    width: 1105px;
    border-radius: 9px;
    padding: 0px 12px;
    background-color: #f7f8fc;
    border: 2px solid rgb(209 213 219);
}

.box-3 p textarea {
    height: 103px;
    width: 1105px;
    border-radius: 9px;
    background-color: #f7f8fc;
    border: 2px solid rgb(209 213 219);
    padding-left: 12px;
    padding-top: 12px;
}

.box-3 p select {
    height: 55px;
    width: 1105px;
    border-radius: 9px;
    background-color: #f7f8fc;
    border: 2px solid rgb(209 213 219);
    padding: 0px 10px;
}

.box-3 p textarea::placeholder {
    color: #c5c5c5;
    font-size: 18px;
}

.box-3 p textarea:focus-within {
    background-color: white;
    border: 2px solid rgb(124, 124, 232);
}

.box-3 p :focus-within {
    background-color: white;
    outline: 2px solid rgb(124, 124, 232);
}

form .submit {
    margin-left: 13%;
    padding: 15px 31%;
    color: white;
    background-color: #0b73b7;
    border-radius: 12px;
    border: none;
    margin-top: 15px;
}



/*chrome, safari, edge, opera ma arrow na show karne ky liye*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*firefox ma arrow na show karne ky liye*/

input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}


/* From Uiverse.io by Na3ar-17 */
.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    position: relative;
    display: block;
    width: 516px;
    height: 55px;
    display: flex;
    border-radius: 9px;
    border: 2px solid rgb(209 213 219);
    padding: 15px 8px 15px 10px;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 20px;

    .icon {
        position: absolute;
        top: 53%;
        left: 22px;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
        color: rgb(196, 198, 203);
        font-size: 20px;
    }

    .input {
        background-color: #f7f8fc;
        outline: none;
        border: none;
        font-size: 16px;
        margin-left: 35px;
    }

    .input::placeholder {
        color: #c5c5c5;
        font-size: 18px;
    }
}

label:focus-within {
    background-color: white;
}

label .input:focus {
    background-color: white;
}


@media only screen and (max-width: 1024px) {
    form button {
        margin-left: 10%;
    }

    .navbar-collapse {
        margin-left: 13%;
    }

    .box-1,
    .box-3,
    .heading {
        margin-left: 5%;
    }

    .label {
        width: 430px;
    }

    .box-3 p input,
    .box-3 p textarea,
    .box-3 p select {
        width: 910px;
    }

    .upload {
        width: 910px;
    }
}

@media only screen and (max-width: 768px) {
    form .submit {
        margin-left: 8%;
    }

    .box-1,
    .box-3,
    .heading {
        margin-left: 4%;
    }

    .box-1 {
        margin-right: 2%;
    }

    .label {
        width: 350px;
    }

    .box-3 p input,
    .box-3 p textarea,
    .box-3 p select {
        width: 715px;
    }

    .upload {
        width: 715px;
    }



    .header {
        display: none;
    }

    .navbar-2 {
        visibility: visible;
    }


    .registration-box .content {
        margin-left: 11%;
        padding-top: 3%;
    }

}

@media only screen and (max-width: 430px) {
    form .submit {
        margin-left: 2%;
        font-weight: 700;
        padding-left: 28%;
        padding-right: 28%;
    }

    .registration-box {
        font-size: 14px;
        height: 160px;
    }

    .enroll {
        font-size: 12px;
        margin-top: 4%;
    }

    .registration-box h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .student-identity {
        display: block;
    }

    .box-2,
    .box-1,
    .box-3,
    .heading {
        margin-left: 7%;
    }

    .box-3 p input,
    .box-3 p textarea,
    .box-3 p select {
        width: 350px;
    }

    .upload {
        width: 350px;
    }

    form {
        height: 1620px;
    }

    .upload-btn {
        margin-top: 14%;
        margin-left: 28%;
    }

}

@media only screen and (max-width: 380px) {

  .label {
        width: 330px;
    }

    .box-3 p input,
    .box-3 p textarea,
    .box-3 p select {
        width: 330px;
    }

    .upload {
        width: 330px;
    }
.box-3 p textarea::placeholder {
    font-size: 15px;
}

    .box-2,
    .box-1,
    .box-3,
    .heading {
        margin-left: 5%;
    }

    form .submit {
        padding-left: 21%;
        padding-right: 21%;
        margin-left: 6%;
    }
}

@media only screen and (max-width: 325px) {
    form .submit {
        padding-left: 15%;
        padding-right: 15%;
        margin-left: 7%;
    }

    .box-3 p input,
    .box-3 p textarea,
    .box-3 p select {
        width: 300px;
    }

    .upload {
        width: 300px;
    }

    .label {
        width: 300px;
    }
}